* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  line-height: 30px;
  /* font-family: 'Ruda', sans-serif; */
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  color: #ffffff;
}

main {
  color: #2c2b2b;
  background: #0e0e0e;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1136px;

}

.wide-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-right: 0;
  margin-left: auto; */
  width: 100%;
}

.section-heading {
  font-family: 'Playfair Display', serif;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #353535;
  border-bottom: 2px solid #E3E3E3;

}

.header {
  background: #0e0e0e;
  width: 100%;
}

.header .wide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo-img {
  width: 100px;
}

.subheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.subheader-btn {
  padding: 15px;
  border: none;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  /* background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C); */
  border-radius: 50px;
  margin-left: 20px;
  font-size: 14px;
  /* box-shadow: inset 7px 7px 3px rgba(41, 24, 14, 0.4);
  filter: drop-shadow(9px 9px 10px rgba(65, 61, 61, 0.6)); */
}

.subheader-btn span {
  font-size: 20px;
}

.nav {
  margin-right: auto;
  margin-left: auto;
  background: rgba(65, 61, 61, 0.6);
  border-radius: 10px;
  padding: 15px;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav ul li {
  margin-right: 23px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.nav ul li a:hover {
  color: #eeb929;
}

.header-adress {
  font-size: 16px;
}

.burger-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: 10;
}

.overlay-visible {
  width: 100%;
  height: 100%;
  display: block;
}

.hamburger {
  display: none;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/DSC_5533.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  color: #ffffff;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.h1 {
  color: #f0c960;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  
}

.about-text {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.2;
}

.about-btn {
  padding: 20px 25px;
  border-radius: 2px;
  border: none;
  border-radius: 2px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: #1f1f1f;
  margin: 0 auto;
}

.law {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient( rgba(19, 19, 19, 0.5), rgba(14, 14, 14, 1) ), url(../img/DSC_5528.jpg);
 background-size: cover;
 background-position: 0% 20%;
 background-attachment:fixed;
 height: 100vh;
  
}
.law .container {
  height: 100%;
}

.half-container {
  position: relative;
  margin: 0 auto;
  max-width: 1136px;
  height: 100%;
  display: flex;
  
  justify-content: space-between;
}

/* .law-descr {
  width: 50%;
} */

.law-descr .section-heading {
  font-weight: normal;
  font-size: 40px;
  line-height: 39px;
  text-align: left;
  letter-spacing: 1px;
  color: #ffffff;
  border-bottom: none;
  margin-bottom: 100px;
  
}
.law-text-zip {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.law-text-zip:last-of-type {
  margin-bottom: 100px;
}
.law-text-zip img {
  margin-right: 10px;
}
.law-img {
  position: absolute;
  right: 0;
  top: 20px;
  max-width: 500px;
}

.law-text {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0px;
}
.law-text-spec {
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.5;
}
form {
  display: flex;
  align-items: center;
}
.input {
  width: 250px;
  height: 60px;
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #eeb929;
  border-radius: 2px;
  outline: none;
  
}

.input-btn {
  height: 60px;
  padding: 10px 20px;
  border: none;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 30px;
  font-size: 18px;
  
}

.stages {
  position: relative;
  background: url(../img/Rectangle3.png);
  background-repeat:no-repeat;
  background-size:cover;
  padding: 100px;
  z-index: 10;
}
.stages .section-heading {
  color: #f4f4f4;
  border-bottom: 2px solid #d3b868;
}
.stages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.stage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background: #f4f4f4;
  box-sizing: border-box;
  box-shadow: 0px 20px 30px 30px rgba(245, 181, 16, 0.04);
  border-radius: 5px;

}

.stage-text {
  text-align: center;
  color: #0f0f0f;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

.bankrot {
  background: rgb(247, 247, 247);
}
.bankrot-text {
  color: #f4f4f4;
  margin-bottom: 40px;
  text-align: justify;
}
.bankrot .bankrot-text {
  margin-bottom: 40px;
  text-align: justify;
  color: #2c2b2b;
  
}
.views {
  background: rgb(247, 247, 247);
}


.views-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.view-card {
  position: relative;
  border: 1px solid rgb(228, 227, 227);
  padding: 20px 30px 20px 55px;
  border-left: 10px solid #fcda34;
  box-shadow: 0 6.666666666666667px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-number {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #b3b2b2;
  font-weight: 700;
  font-size: 25px;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-size: 18px;
}
.noservice {
  background: rgb(247, 247, 247);
}
.noservice-list li {
  margin-bottom: 10px;
}
.company {
  background: #383535;
  color: #ffffff;
}
.company .section-heading {
  display: none;
}
.company-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.company-descr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.company-title {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  border-bottom: 2px solid #fac636;
  margin-bottom: 40px;
  line-height: 40px;
}
.company-text {
  text-align: right;
  max-width: 500px;
}
.results {
  background: rgb(247, 247, 247);
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #ece9e9;
  padding: 20px 15px;
  box-shadow: 0 6.666666666666667px 20px 0px rgba(0, 0, 0, 0.1);
}

.result-number {
  font-size: 35px;
  font-weight: 900;
  color: #fcda34;
}

.result-text {
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.review-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

}

.review {
  background: #ffffff;
  box-shadow: 0 6.666666666666667px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 20px;
}

.review-name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}

.review-name-descr {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 35px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #000;
  align-self: flex-start;
}

.review-subtitle {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

.review-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.review-result-zipper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-result {
  font-size: 17px;
  font-weight: 700;
}

.questions {
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.question-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accordion {
  background: rgb(204, 204, 204);
  color: #000000;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: 1px solid rgb(228, 227, 227);
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.5s;
  box-shadow: 0 6.666666666666667px 20px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Playfair Display', serif;

}

.active,
.accordion:hover {
  background-color: #ffffff;
}

.accordion:after {
  content: '\002B';
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  width: 100%;
  padding: 0 18px;
  color: #212121;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-bottom: 10px;
  border: 1px solid rgb(228, 227, 227);
  box-shadow: 0 6.666666666666667px 20px 0px rgba(0, 0, 0, 0.1);
}
.certificates .section-heading {
  color: #353535;
}
.certificates {
  background: rgb(247, 247, 247);
}
.slider,
.c-carousel {
  display: flex;
  position: relative;
  padding: 0px 40px;
}

.slick-prev.slick-arrow:before,
.slick-next.slick-arrow:before {
  display: none;
}

.slider .slick-arrow,
.c-carousel .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.c-carousel .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/keyboard-left-arrow-button_icon-icons.com_72692.svg') 0 0 / 100% no-repeat;
}


.c-carousel .slick-arrow.slick-next {
  right: 0;
  background: url('../img/keyboard-right-arrow-button-1_icon-icons.com_72690.svg') 0 0 / 100% no-repeat;
}

.c-carousel .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.contacts {
background: #ffffff;  
}
.contacts-zipper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contacts-descr {
  padding: 20px 15px;
}

.contacts-title {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.contacts-line {
  height: 3px;
  width: 50%;
  background: #eeb929;
}

.adress {
  margin-top: 25px;
  margin-bottom: 30px;
}

.contacts-phone {
  font-size: 30px;
}

.map {
  height: 400px;
}

.footer {
  background: rgb(27, 27, 27);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 50px;
  gap: 20px;
}

.links-menu {
  display: flex;
  flex-direction: column;
}

.links-title {
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
  color: #eeb929;
  border-bottom: 1px solid #fac636;
}

.footer-link {
  font-size: 16px;
  color: #e2dede;
}

.copyright {
  font-size: 16px;
  margin-top: 25px;
  color: #e2dede;
}