/*     font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

main {
  color: #1f1e1e;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1136px;

}

.wide-container {
  margin: 0 auto;
  max-width: 1200px;
}

.section-heading {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
}

.header {
  position: fixed;
  background: #262626;
  width: 100%;
  z-index: 10;
}

.header .wide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.header .wide-container a {
  margin-left: 10px;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  color: #eb7a10;
  font-weight: 700;
  text-transform: uppercase;
}

.logo:hover {
  color: #eb7a10;
}

.logo-img {
  height: 80px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  margin: 0;
  margin-right: 42px;
  padding: 0;
  list-style: none;
}

.nav ul li {
  margin-right: 10px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  color: #db5e26;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;

}

.nav ul li a:hover {
  color: #eb7a10;
}


.header-socials {
  margin-top: 10px;
}

.phone {
  color: #db5e26;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}


.burger-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: 10;
}

.overlay-visible {
  width: 100%;
  height: 100%;
  display: block;
}

.hamburger {
  display: none;
}

.promo {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/vY8XgiAMfwU.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 190px;

}


.promo-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;

}

.h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 2px;
  margin-top: 0;
  max-width: 800px;
  text-transform: uppercase;
}

h1 span {
  white-space: nowrap;
}

.promo-text {
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  margin-bottom: 60px;
  max-width: 500px;
}

.promo-btns {
  display: flex;
}

.promo-btn {
  border: none;
  background: linear-gradient(rgb(216, 148, 46), #eb5510);
  padding: 15px 20px;
  color: #ffffff;
  width: 250px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 20px;
}

.promo-btn:hover {
  background: linear-gradient(rgb(228, 186, 70), #eb5510);
}


.about {
  color: #080808;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-text {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 100px;
  text-align: center;
}

.about-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

}

.about-card {
  width: 30%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}

.about-card-title {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}

.about-card-text {
  text-align: center;
}

.advantages {
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background: #d1d0d0;
}

.advantages .section-heading {
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.questions {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/ab0f0961-457f-4078-9378-ba86a5638ec5.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.questions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-text {
  max-width: 500px;
  margin-bottom: 30px;
}

.question-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(rgb(216, 148, 46), #eb5510);
  padding: 15px 20px;
  color: #ffffff;
  width: 300px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-top: 40px;
}

.question-btn:hover {
  background: linear-gradient(rgb(228, 186, 70), #eb5510);
}

.technology {
  display: flex;
  flex-wrap: wrap;
}

.technology-instr {
  height: 500px;
  width: 50%;
}

.tech-flex {
  display: flex;
}

.technology-instr.technology-bg {
  background: #ecebeb;
  background-position: center;
  width: 100%;
  position: relative;
  padding: 50px;
  height: auto;
}

.slider-title {
  font-family: 'Roboto Slab', serif;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.carousel {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.carousel .slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  margin-right: 10px;
}

.carousel .slider-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.slider-item img {
  margin-right: 15px;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.tecnology-descr {
  background: #ffffff;
  flex-basis: 100%;
  padding: 50px 100px;
  color: #080808;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.technology-text {
  max-width: 1200px;
  margin-top: 0;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}

.techn-instr-bg {
  width: 50%;
  background: url(img/gTJ8W-Azmzs.jpg);
  height: 100%;
}

.technology-instr:nth-child(3) .techn-instr-bg {
  background: url(img/IMG_6220.jpg);
  background-size: cover;
}

.technology-instr:nth-child(4) .techn-instr-bg {
  background: url(img/scale_1200.jpg);
  background-size: cover;
}

.technology-instr:nth-child(5) .techn-instr-bg {
  background: url(img/file.png);
  background-size: cover;
  background-position: center;
}

.technology-instr:nth-child(6) .techn-instr-bg {
  background: url(img/krovlya.jpg);
  background-size: cover;
}

.technology-instr:nth-child(7) .techn-instr-bg {
  background: url(img/H8JaMp0idE4.jpg);
  background-size: cover;
}

.technology-instr:nth-child(8) .techn-instr-bg {
  background: url(img/79_KfWy4zUM.jpg);
  background-size: cover;
}

.technology-instr:nth-child(9) .techn-instr-bg {
  background: url(img/vent.jpg);
  background-size: cover;
  background-position: center;
}

.technology-instr:nth-child(10) .techn-instr-bg {
  background: url(img/QJHT9aJDFzg.jpg);
  background-size: cover;
  background-position: center;
}

.techn-description {
  height: 100%;
  width: 50%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.technology-instr:nth-child(5) .techn-description,
.technology-instr:nth-child(6) .techn-description {
  align-items: flex-end;
}

.techn-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

.tech-text {
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
}

.individual-layout {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/f260e7ed-57bf-4d88-a56d-51d8acd80c02.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.individual-layout .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-text {
  text-align: center;
}

.layout-btn {
  border: none;
  background: linear-gradient(rgb(216, 148, 46), #eb5510);
  padding: 15px 20px;
  color: #ffffff;
  width: 300px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-top: 40px;
}

.layout-btn:hover {
  background: linear-gradient(rgb(228, 186, 70), #eb5510);
}

.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f5f5f5;
  color: #080808;
}

.project-zipper {
  padding-right: 50px;
  padding-left: 50px;
}

.opti-zipper {
  background: rgba(255, 255, 255, 1);
  display: flex;
  margin-bottom: 50px;
  border: 1px solid #c9c9c9;
}

.opti-img,
.opti-text {
  width: 50%;
}

.opti-img {
  margin-right: 30px;
}

.opti-text {
  color: #080808;
  padding-top: 20px;
  padding-right: 30px;
}

.opti-title {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 35px;
  line-height: 70px;
  margin-left: 10px;

}

.opti-line {
  width: 100%;
  height: 1px;
  background: #c9c9c9;
  margin-bottom: 50px;
}

.opti-light-area {
  margin-bottom: 30px;
}

.opti-text .price {
  font-weight: 700;
  font-size: 24px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.projects-card {
  flex-basis: 31%;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
  font-weight: 400;
  border: 1px solid #c9c9c9;
}

.project-card-img {
  margin-bottom: 20px;
}

.project-text {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
}

.project-title {
  color: #080808;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.project-line {
  width: 100%;
  height: 1px;
  background: #c9c9c9;
  margin-bottom: 20px;
}

.project-area {
  font-size: 18px;
}

.price {
  font-family: 'Roboto Slab', serif;
  color: #eb5510;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 700;
}

.project-link {
  color: #db5e26;
  font-size: 16px;
}

.excursion {
  padding-top: 50px;
  padding-bottom: 50px;
}

.excursion .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.house-kit {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/vY8XgiAMfwU.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.house-kit .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house-kit-text {
  max-width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.house-kit-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.house-kit-card {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  background: #eb8510;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.house-kit-card-title {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.house-kit-card-descr {
  text-align: center;

}

.house-kit-btn {
  border: none;
  background: linear-gradient(rgb(216, 148, 46), #eb5510);
  padding: 15px 20px;
  color: #ffffff;
  width: 300px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 20px;
}

.house-kit-btn:hover {
  background: linear-gradient(rgb(228, 186, 70), #eb5510);
}

.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #f5f5f5;
  ;
}

.slider,
.c-carousel {
  display: flex;
  position: relative;
  padding: 0px 40px;
}

.slick-prev.slick-arrow:before,
.slick-next.slick-arrow:before {
  display: none;
}

.slider .slick-arrow,
.c-carousel .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev,
.c-carousel .slick-arrow.slick-prev {
  left: 0;
  background: url('img/keyboard-left-arrow-button_icon-icons.com_72692.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next,
.c-carousel .slick-arrow.slick-next {
  right: 0;
  background: url('img/keyboard-right-arrow-button-1_icon-icons.com_72690.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled,
.c-carousel .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.review {
  background: #ffffff;
  padding: 30px 30px;

}

.review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review-text {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.review-name {
  color: #db5e26;
}

.credit {
  padding-top: 50px;
  padding-bottom: 70px;
}

.credit-text {
  text-align: center;
}

.banks {
  display: flex;
}

.bank-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bank-card:first-child {
  margin-right: 30px;
}

.bank-card img {
  width: 400px;
}

.bank-card a:hover {
  color: #eb7a10;
}

.sberbank-img {
  margin-top: 50px;
  margin-bottom: 70px;
}

.credit-title {
  font-family: 'Roboto Slab', serif;
  color: #5f5e5e;
  font-size: 17px;
  margin-bottom: 15px;
}

.percent {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banks p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.6;
}

.bank-link {
  font-family: 'Roboto Slab', serif;
  color: #eb5510;
  font-weight: 700;
  margin-top: 10px;
}

.socials-sec {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #262626;
  color: #ffffff;
}

.grid {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #d1d0d0;
}

.grid-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.map {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item {
  padding: 15px 15px;
  border: 1px solid #d1d0d0;
  background: url(img/003-award.png), #ffffff;
  background-size: contain, auto;
  background-repeat: no-repeat;
  background-position: top 150px right;
}

.grid-title {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.grid-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.doc-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #db5e26;
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.doc-btn img {
  margin-right: 10px;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 300px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

}

.promo-scandi {
  padding-top: 88px;
  margin: 0 auto;
  max-width: 1136px;
  display: flex;
  align-items: center;
}

.promo-scandi .half-container {
  display: flex;
  align-items: center;
}

.promo-project-descr {
  width: 30%;
}

.promo-scandi img {
  width: 70%;
}
.h1-project {
  line-height: 1.25;
}
.planirovka {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  background: #e6e4e4;
}

.planirovka img {
  margin-bottom: 50px;
}

.price-project {
  padding-bottom: 50px;
}

.price-project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.price-project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-project-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: linear-gradient(rgb(216, 148, 46), #eb5510);
  color: #ffffff;
}

ol li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.price-project-card:not(:first-child) ol {
  margin-bottom: 95px;
}

.price-project-price {
  background: linear-gradient(rgb(216, 148, 46), #eb5510);
  padding: 10px 15px;
  width: 200px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.footer-project {
  background: #262626;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-img-z {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer-img-z img {
  width: 31%;
  margin-right: 10px;
}
.project-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-social-links a{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.project-social-links a span {
  color: #ffffff;
  margin-left: 5px;
}

.promo-m {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/ab0f0961-457f-4078-9378-ba86a5638ec5.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 190px;
}
.windows,.pir {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1136px;
  
}
.subtitle {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 50px;
  font-weight: 500;
  text-align: center;
}
.window-text {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
}
.windows .container img {
  margin-bottom: 40px;
  margin-top: 20px;
}
.pir {
  background: #eceaea;
}
.half-container-m {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  
}
.half-container-m:last-child {
  margin-top: 100px;
}
.pir-img {
  margin-right: 40px;
}

.pir-text {
  margin-bottom: 10px;
  margin-top: 15px;
}
.pir-img-banya {
  width: 50%;
  margin-right: 40px;
}
.pir-prof-descr {
  width: 50%;
}
.pir-prof-descr:first-child {
  margin-right: 50px;
}
.pir-prof-descr .pir-text {
  text-align: justify;
  margin-bottom: 40px;
}
.pir-text-descr {
  font-size: 18px;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}


.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

.footer {
  background: #262626;
  font-family: 'Roboto Slab', serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.map {
  border: 1px solid #c9c9c9;
  width: 50%;
}

.contacts {
  width: 50%;
  padding: 0 40px;
}

.footer-title {
  font-size: 22px;
  margin-bottom: 50px;
}

.phone-footer {
  color: #ffffff;

}

.adress-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mail-link {
  color: #ffffff;
}

.social-links {
  margin-top: 40px;
  display: flex;
}

.social-links a:first-child {
  margin-right: 10px;
}

.footer-zip {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.policy {
  color: #ffffff;
  margin-left: 20px;
}
@media (max-width: 1540px) {
  .technology {
    flex-wrap: wrap;
  }

  .technology-bg {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tech-text {
    font-size: 19px;
  }

  .tecnology-descr {
    flex-basis: 100%;

  }

  .technology-text {
    font-size: 19px;
  }

  .technology-instr.tech-flex {
    width: 100%;
  }

  .order {
    order: -1;
  }
}

@media (max-width: 1240px) {
  .wide-container {
    margin-right: 30px;
    margin-left: 30px;
  }

  .container {
    margin-left: 30px;
    margin-right: 30px;
  }

  .tecnology-descr {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }

  .lock {
    overflow: hidden;
  }

  .burger {
    position: relative;
    bottom: 10px;
  }

  .burger-nav {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: #ffffff;
    height: 100vh;
    z-index: 12;
  }

  .nav ul {
    flex-direction: column;
    margin: 100px;
  }


  .nav ul li {
    margin-bottom: 10px;
  }

  .nav ul li a {
    text-transform: uppercase;
    font-weight: 700;
  }

  .hamburger {
    position: absolute;
    right: 0;
    padding: 15px 15px;
    padding-top: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 15;
    outline: none;
  }

  .hamburger:hover {
    opacity: 0.7;
  }

  .hamburger.is-active:hover {
    opacity: 0.7;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    color: #db5e26;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #db5e26;
    ;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger--slider .hamburger-inner {
    top: 2px;
  }

  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
  }

  .hamburger--slider .hamburger-inner::after {
    top: 20px;
  }

  .hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
  }

  .burger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.6);
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }

  .technology-instr.tech-flex {
    width: 100%;
  }

  .tech-text {
    font-size: 17px;
  }

  .order {
    order: -1;
  }

  .project-zipper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .projects-card {
    flex-basis: 48%;
  }
}

@media (max-width: 850px) {
  .about-card {
    width: 48%;
  }

  .tecnology-descr {
    height: auto;
  }

  .technology-instr.tech-flex {
    flex-wrap: wrap;
    height: auto;
  }

  .technology-instr.tech-flex:nth-child(2n) .techn-description {
    order: 5;
  }

  .techn-instr-bg {
    min-width: 100%;
    height: 300px;
  }

  .techn-description {
    min-width: 100%;

  }

  .opti-zipper {
    flex-wrap: wrap;
  }

  .opti-img,
  .opti-text {
    width: 100%;
  }

  .opti-img {
    margin-right: 0;
  }

  .opti-text {
    padding: 30px;
  }

  .projects-card {
    flex-basis: 95%;
  }

  .house-kit-list {
    justify-content: center;
  }

  .house-kit-card {
    width: 80%;
    margin-bottom: 30px;
  }

  .banks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .bank-card:first-child {
    margin-bottom: 35px;
    margin-right: 0;

  }

  .bank-card {
    width: 80%;
  }

}

@media (max-width: 600px) {
  .promo-btns {
    flex-wrap: wrap;
  }

  .about-list {
    justify-content: center;
  }

  .about-card {
    width: 80%;
    margin-bottom: 40px;
  }
}

@media (max-width: 470px) {
  .footer-container {
    flex-wrap: wrap;
  }

  .map {
    width: 100%;
    height: 300px;
  }

  .contacts {
    width: 100%;
    padding-top: 20px;
  }
}